/********************/
/* Dark theme    */
/********************/
html, body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, 'sans-serif' !important;
    background-color: #225e71;
    color: #ddd;
}

bierapp-element a {
    transition: color 0.1s linear;
    color: #ddd;
    text-decoration: none;
}

bierapp-element a:hover {
    color: #13DEFC;
}

bierapp-element .hover:hover {
    color: #fff;
}

bierapp-element .color-1 {
    color: #13DEFC;
}

bierapp-element .color-2 {
    color: #225e71;
}

jso-header {
    background-color: #204854;
    font-weight: 300;
}

jso-footer {
    background-color: #204854;
    font-weight: 300;
}

jso-help-menu {
    background-color: #204854;
}

jso-login,
jso-signup,
jso-profile,
jso-remember,
jso-variant-browser,
jso-opencga-browser,
jso-opencga-create-study,
jso-opencga-create-project,
jso-upload-variant-file {
    background-color: #fafafa;
    color: #222;
    font-weight: normal;
}

/********************/
/* Light theme    */
/********************/
/*html, body {*/
    /*font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, 'sans-serif' !important;*/
    /*background-color: #fafafa;*/
    /*color: #333;*/
/*}*/

/*bierapp-element a {*/
    /*transition: color 0.1s linear;*/
    /*color: #eee;*/
    /*text-decoration: none;*/
/*}*/

/*bierapp-element a:hover {*/
    /*color: #be465d;*/
/*}*/

/*bierapp-element .hover:hover {*/
    /*color: #000;*/
/*}*/

/*bierapp-element .color-1 {*/
    /*color: #225e71;*/
/*}*/

/*bierapp-element .color-2 {*/
    /*color: #204854;*/
/*}*/

/*jso-header {*/
    /*background-color: #e0e0e0;*/
    /*font-weight: 300;*/
/*}*/

/*jso-footer {*/
    /*background-color: #e0e0e0;*/
    /*font-weight: 300;*/
/*}*/

/*jso-help-menu {*/
    /*background-color: #e0e0e0;*/
/*}*/

/*jso-login,*/
/*jso-signup,*/
/*jso-profile,*/
/*jso-remember,*/
/*jso-variant-browser,*/
/*jso-opencga-browser,*/
/*jso-opencga-create-study,*/
/*jso-opencga-create-project,*/
/*jso-upload-variant-file {*/
    /*background-color: #fafafa;*/
    /*color: #222;*/
    /*font-weight: normal;*/
/*}*/
