
<dom-module id="project-info">
    <template>
        <style is="custom-style" include="jso-styles"></style>

        <div>
            <ol class="breadcrumb">
                <li>
                    <a href="#projectList">Project</a>
                </li>
                <li class="active">
                    {{project.name}}
                </li>
            </ol>

            <h1>{{project.name}}</h1>

            <table class="table table-bordered">
                <thead>
                <tr class="table-header">
                    <th>Study</th>
                    <th>Date</th>
                    <th>Files</th>
                    <th>Samples</th>
                    <th>Jobs</th>
                    <th>Individuals</th>
                </tr>
                </thead>
                <tbody>
                <template is="dom-repeat" items="{{project.studies}}">
                    <tr>
                        <td>
                            <a href="#studyInfo">{{item.name}}</a>
                        </td>
                        <td>{{item.creationDate}}</td>
                        <td>{{item.files}}</td>
                        <td>{{item.samples}}</td>
                        <td>{{item.jobs}}</td>
                        <td>{{item.individuals}}</td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </template>
    <script>
        Polymer({
            is: 'project-info',
            properties: {
                project: {
                    type: Object,
                    value: []
                }
            }
        });
    </script>
</dom-module>